<link rel="stylesheet" href="book-add.component.css">
<div class="box-add container mt-4 p-5 w-50">
  <h1>Add Book</h1>
  <hr class="mb-4">
  <form [formGroup]="bookForm">
    <div class="mb-3">
      <label class="form-label">Book ID</label>
      <input type="text" class="form-control" required formControlName="book_id">
    </div>
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" required formControlName="name">
    </div>
    <div class="mb-3">
      <label class="form-label">Author</label>
      <input type="text" class="form-control" required formControlName="author">
    </div>
    <div class="mb-3">
      <label class="form-label">Publisher</label>
      <input type="text" class="form-control" required formControlName="publicher">
    </div>
    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="text" class="form-control" required formControlName="price">
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <button type="button" (click)="addBook()" class=" btn-info">Save</button>
    </div>
  </form>
</div>
